.advantages {
  margin-bottom: 25px;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__list {
  @include list-reset;
  @include font-set(17px, 20px);
  color: $black;
}

.advantages__item {
  position: relative;
  padding-top: 55px;
  margin-bottom: 30px;

  &--present {
    margin-bottom: 55px;
  }
}

.advantages__icon {
  position: absolute;
  top: 2px;

  path {
    fill: $main-color--base;
  }

  &--flower {
    left: 7px;

    width: 33px;
    height: 38px;
  }

  &--price {
    left: 0;

    width: 47px;
    height: 26px;
  }

  &--like {
    left: 7px;

    width: 33px;
    height: 28px;
  }

  &--ball {
    left: 3px;

    width: 34px;
    height: 34px;
  }

  &--rocket {
    left: -6px;

    width: 55px;
    height: 23px;
  }

  &--gift {
    left: 3px;

    width: 33px;
    height: 32px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 80px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include font-set(20px, 22px);
  }

  .advantages__item {
    width: 50%;

    text-align: left;

    margin-bottom: 60px;

    &--price {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--patriot {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    padding-left: 225px;
    padding-right: 225px;
  }
}
