.contacts__title {
  @include font-set(18px, 30px);

  color: $black;
  margin: 0;
  margin-bottom: 39px;
}

.contacts__list {
  @include list-reset;

  //margin-bottom: 40px;
}

.contacts__email,
.contacts__address {
  @include font-set(15px, 30px, 400);

  display: flex;

  margin-bottom: 35px;
}

.contacts__type,
.contacts__info {
  display: block;

  margin: 0;
}

.contacts__info {
  &--mail {
    border-bottom: 1px solid $main-color--bright;
  }
}

.contacts__type {
  padding-right: 28px;
}

.contacts__map {
  width: 100%;
  height: 457px;

  margin-bottom: 39px;
  background: $compliment-color--lighten url("../../img/map-mobile@1x.jpg") center center no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: contain;
  }
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    @include font-set(43px, 50px);

    margin-bottom: 50px;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 50px;

      content: "";
      width: 51px;
      height: 83px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;

      z-index: 100;
    }
  }

  .contacts__list {
    display: flex;
  }

  .contacts__email,
  .contacts__address {
    @include font-set(17px, 30px);

    width: 50%;
  }

  .contacts__email {
    align-items: flex-start;
  }

  .contacts__type {
    padding-right: 23px;
  }

  .contacts__map {
    background: $compliment-color--lighten url("../../img/map-tablet@1x.jpg") center center no-repeat;

    margin-bottom: 55px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }

  }

  .contacts__button {
    width: 30%;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    width: $desktop-width;
    padding-left: 225px;
  }

  .contacts__wrapper {
    width: 100%;
    padding: 0;
  }

  .contacts__title {
    @include font-set(53px, 57px);

    &::after {
      display: block;
      position: absolute;
      left: -112px;
      top: -20px;
    }
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__address {
    margin-bottom: 70px;
  }

  .contacts__info {
    &--mail {
      transition: all 0.5s;
      cursor: pointer;

        &:hover,
        &:focus {
          color: $main-color--bright;
        }

        &:active {
          color: $main-color--bright;
          opacity: 0.3;
        }
    }
  }

  .contacts__map {
    position: absolute;
    background: $compliment-color--lighten url("../../img/map-desktop@1x.jpg") center center no-repeat;
    width: 525px;
    height: 457px;

    right: 50px;
    top: -75px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__button {
    width: 231px;
    margin-left: 0;
    margin-bottom: 108px;
  }
}
