.form__fieldset {
  border: 0;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.form__title {
  position: relative;

  width: 100%;
  @include font-set(17px, 16px);
  color: $main-color--base;

  margin: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  text-align: left;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;

    width: calc(100% - 65px);
    height: 1px;

    background-color: $main-color--bright;
  }

  &--email {
    &::after {
      width: calc(100% - 80px);
    }
  }
}

.form__list {
  @include list-reset;
  @include font-set(17px, 18px);
  color: $black;
}

.form__textarea {
  margin-bottom: 15px;
}

.form__notes {
  display: inline-block;

  @include font-set(14px, 16px, 400);
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form__inner-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &--textarea {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &--bottom {
      justify-content: space-between;
      align-items: center;
    }
  }

  .form__title {
    width: 25%;
    margin: 0;
    margin-top: 5px;

    &::after {
      display: none;
    }
  }

  .form__fieldset {
    &--color {
      background-color: $compliment-color--light;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--name {
      padding-top: 60px;
    }
  }

  .form__contacts {
    background-color: $compliment-color--light;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .form__notes {
    order: 2;

    @include font-set(17px, 30px, 400);
    margin: 0;
  }

  .form__submit-button {
    order: 1;

    max-width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__inner-wrapper {
    flex-wrap: nowrap;

    &--bottom {
      padding-left: 19.6%;
      padding-right: 19.6%;
    }
  }

  .form__title {
    width: 16.7%;
    text-align: center;
  }
}
