.intro {
  &--main {
    background-color: $bg-color--light;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: right 50% top -15px;
    background-repeat: no-repeat;

    padding-top: 72px;
    padding-bottom: 124px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }

  &--inner {
    background-color: $compliment-color--light;
    padding-top: 74px;
    padding-bottom: 74px;
  }
}

.intro__text {
  display: none;
}

.intro__title {
  margin: 0;
  padding: 0;

  @include align-center;
  @include font-set(27px, 30px);

  text-align: center;

  &--main {
    color: $compliment-color--dark;
  }

  &--inner {
    color: $black;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: -42px;
    //z-index: 100;

    padding-top: 0;

    background-position: right 50% top 0;
    border-top: 1px solid $compliment-color--lighten;

    &--main {
      //background-color: $bg-color--light;
      background-image: url("../img/hero-tablet@1x.jpg");

      padding-bottom: 370px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }
    }

    &--inner {
      padding-bottom: 80px;
    }
  }

  .intro__text {
    display: block;
    text-align: right;

    margin: 0;
    margin-top: 18px;

    @include font-set(15px, 24px, 400);
    color: $compliment-color--base;

    &--main {
      margin-bottom: 115px;
    }

    &--inner {
      margin-bottom: 60px;
    }
  }

  .intro__title {
      @include font-set(43px, 50px);
  }
}

@media (min-width: $desktop-width) {
  .intro {
    &--main {
      background-image: url("../img/hero-desktop@1x.jpg");
      padding-bottom: 358px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }

  .intro__title {
    @include font-set(53px, 57px);
  }
}
