.intro {
  &--main {
    background-color: $bg-color--light;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: right 50% top -10px;
    background-repeat: no-repeat;

    padding-top: 65px;
    padding-bottom: 123px;
  }

  &--inner {
    background-color: $compliment-color--light;
    padding-top: 74px;
    padding-bottom: 74px;
  }
}

.intro__text {
  display: none;
}

.intro__title {
  @include font-set(27px, 30px);
  @include align-center;

  text-align: center;

  &--main {
    color: $compliment-color--dark;
  }

  &--inner {
    color: $black;
  }
}
