.list-fields__label {
  @include font-set(17px, 18px);

  display: block;
}

.list-fields__input {
  width: 100%;

  @include font-set(17px, 18px, 400);

  //color: $compliment-color--base;
  opacity: 0.3;

  border: 0;
  border-bottom: 2px solid $black;

  padding-bottom: 17px;
}
