.list-fields__option {
  margin-bottom: 20px;
}

.list-fields__label {
  @include font-set(17px, 18px);

  display: block;

  margin-bottom: 10px;
}

.list-fields__input {
  width: 100%;

  @include font-set(17px, 18px, 400);

  border: 0;
  border-bottom: 2px solid $black;

  padding-top: 10px;
  padding-bottom: 17px;

  &::placeholder {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .list-fields {
    width: 75%;
  }

  .list-fields__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 30px;
  }

  .list-fields__input {
    @include font-set(19px, 18px, 400);
  }

  .list-fields__label {
    padding-right: 28px;

  }
}

@media (min-width: $desktop-width) {
  .list-fields {
    width: 66.7%;
  }

  .list-fields__input {
    cursor: pointer;
    user-select: none;

    transition: all 0.5s ease;
  }

  .list-fields__input:hover,
  .list-fields__input:focus {
    outline: none;
    border-bottom: 2px solid $main-color--bright;
  }

  .list-fields__input:active {

    &::placeholder {
      opacity: 1;
    }
  }
}
