.main-nav {
  position: relative;
  width: 100%;
  min-height: 79px;

  margin: 0 auto;
  background-color: $white;
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 29px;
  z-index: 2;

  width: 22px;
  height: 22px;

  border: none;
  background-color: transparent;
}
