.main-nav {
  position: relative;
  width: 100%;
  min-height: 79px;

  margin: 0 auto;
  background-color: $white;
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 29px;
  z-index: 2;

  width: 22px;
  height: 22px;

  border: none;
  background-color: transparent;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 1px;

  width: 20px;
  height: 2px;

  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 20px;
    height: 2px;

    background-color: $black;
  }

  &::before {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--logo {
    display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;

    &--new,
    &--sale {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: transparent;
    z-index: 10;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav .site-list__item {
    display: block;

    &--new,
    &--sale {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav .site-list__item {
    &--new,
    &--sale {
      display: block;
    }
  }
}
