.page-header {
  outline: 1px solid $compliment-color--lighten;

  &--inner {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &--inner {
      margin-bottom: 82px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &--inner {
      margin-bottom: 130px;
    }
  }
}
