.page-footer {
  background-color: $compliment-color--light;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 57px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo-image {
    width: 102px;
    height: 37px;
  }
}
