.reviews {
  margin-bottom: 40px;
}

.reviews__wrapper {
  padding-bottom: 50px;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__items {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 130px;
  }

  .reviews__wrapper {
    position: relative;
    padding-top: 80px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    background: url("../../img/review@1x.jpg") top left;
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
    }
  }

  .reviews__items {
    width: 100%;
    order: 3;
  }

  .reviews__title {
    order: 1;
    margin-bottom: 60px;
  }

  .reviews__footer {
    order: 2;
    min-width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 235px;
  }

  .reviews__wrapper {
    padding-left: 225px;
    padding-top: 70px;
    background-position: top left 50px;
  }
}
