.social {
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include list-reset;

  width: 146px;
  margin: 27px auto;
}

.social__item {
  margin-bottom: 10px;

  /*Временно для сетки*/

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.social__icon {
    fill: $black;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    margin: 0;
  }

  .social__item {
    margin-bottom: 0
  }
}

@media (min-width: $desktop-width) {

  .social__icon {
      transition: all 0.5s;

      &:hover,
      &:focus {
        fill: $main-color--darken;
        opacity: 1;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
