.textarea__input {
  width: 100%;

  @include font-set(17px, 18px, 400);

  color: $compliment-color--base;

  border: 2px solid $black;
  padding: 15px;

  &::placeholder {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    width: 75%;
  }

  .textarea__input {
    @include font-set(19px, 18px, 400);
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    width: 66.7%;
  }
}
