html {
  height: 100%;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-width: 320px;
  //width: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-family: $font;
  color: $compliment-color--base;
  font-weight: bold;
  background-color: $white;

  display: flex;
  flex-direction: column;

  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  @include align-center;
}
