$white: #ffffff;
$black: #000000;
$bg-color--light: #f9f9f9;
$compliment-color--dark: #010000;
$compliment-color--base: #444444;
$compliment-color--light: #f1f1f1;
$compliment-color--lighten: #ececec;
$compliment-color--borders: #c7c7c7;
$main-color--base: #63d1bb;
$main-color--darkest: #149080;
$main-color--lighten: #59d5bc;
$main-color--dark: #56c3b2;
$main-color--darken: #46c1ae;
$main-color--bright: #62d1ba;

$font: "OpenSans", "Tahoma", sans-serif;

$border: 2px solid $compliment-color--base;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
